/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 95%;
	max-width: 880px;
	/* TB LR */
	margin: 0 auto;
  }
  
  /* header */
  header {
	  display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  margin-top: 35px;
	  justify-content: space-between;
	}
	
	@media(max-width: 800px) {
		header {
			flex-direction: column-reverse;
			margin-top: 25px;
		}
		header img {
			margin-bottom: 6%;
		}
	}

  header nav {
	display: flex;
	max-width: 691px;
	vertical-align: top;
  }
  
  header nav a {
	margin-right: 65px;
	font-size: 14px;
	color: gray;
	text-decoration: none;
  }
  
  header nav a:hover {
	text-decoration: underline;
  }
  
  header nav a:first-child {
	margin-left: 0;
  }
  
  header nav a:last-child {
	margin-right: 0;
  }
  

  
  /* cta */
  
  .cta .cta-text {
	margin: 20px;
	display: flex;
	font-size: 77px;
	flex-direction: column;
	max-width: 400px;
	align-items: center;
	text-align: center;
	justify-content: center;
  }

  .cta {
	  height: 400px;
	  display: flex;
	  align-items: center;
	  margin: 20px 0px;
	}
	
	@media(max-width: 800px) {
		.cta img {
			display: none;
		}
		.cta {
			width: 100%;
			justify-content: center;
		}
	}
  
  .cta .cta-text button {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
  }
  
  .cta .cta-text button:hover {
	background: black;
	color: white;
  }
  
  .main-content {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

  }
	
	@media(max-width: 800px) {
		.main-content img {
			max-width: 100%;
			height: auto;
		}
	}
	
  .main-content .top-content {
	max-width: 880px;
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  
  .main-content .bottom-content {
	max-width: 880px;
	height: 195px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .main-content .bottom-content .text-content {
	  padding-right: 20px;
  }
  
  
  .contact {
	height: 215px;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  .contact h4, .contact p {
	  margin: 7px;
  }
  
  
  footer {	
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin-bottom: 35px;
  }